$prefix: mx-loading;

.#{$prefix}-wrapper {
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 5px;

  .mx-loading + span {
    margin-left: 10px;
    vertical-align: middle;
  }
}

.#{$prefix} {
  display: inline-block;
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  color: inherit;
  box-sizing: border-box;
  padding: 2px;
  animation: mx-spin 0.8s infinite linear;
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    circle {
      stroke: currentColor;
      stroke-dasharray: 18px 100000000;
    }
  }

  // &::after {
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   content: "";
  //   border: solid 1px currentColor;
  //   border-radius: 50%;
  //   border-left-color: transparent;
  //   border-top-color: transparent;
  //   animation: mx-spin 0.8s infinite linear;
  // }
}
