$prefix: mx-toast;
.#{$prefix}-wrap {
  position: fixed;
  pointer-events: none;
  top: 1rem;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  .#{$prefix}--overlap {
    position: absolute;
    overflow: visible;
    transform-origin: 0 0;
    left: 50%;
    .#{$prefix}__content {
      transform: translateX(-50%);
    }
  }
  @at-root &--bottom {
    top: auto;
    bottom: 1rem;
    .#{$prefix}--overlap {
      .#{$prefix}__content {
        transform: translate(-50%, -100%);
      }
    }
  }
  @at-root &--middle {
    top: 50%;
    text-align: center;
    .#{$prefix}--overlap {
      .#{$prefix}__content {
        transform: translate(-50%, -50%);
      }
    }
  }
}

.#{$prefix} {
  text-align: center;
  padding-bottom: 5px;
  overflow: hidden;
  animation: mx-slide-down 0.2s;
  transform-origin: center;

  @at-root &__content {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    transform: none;
  }
  @at-root &__btns {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    display: inline-flex;
    align-items: center;
    border-left: solid 1px lighten(#000, 60);
    &:empty {
      display: none;
    }
    li {
      color: darken(#fff, 20);
      pointer-events: all;
      margin-left: 5px;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      line-height: 100%;
      position: relative;
      z-index: 2;
      font-size: 0.9rem;
      vertical-align: middle;
      &[data-disabled="true"] {
        pointer-events: none;
        opacity: 0.5;
      }
      * {
        pointer-events: none;
      }
      .mx-loading {
        width: 10px;
        height: 10px;
        margin-right: 5px;
      }
      &:not(:last-child) {
        margin-right: 2px;
      }
      &:hover {
        color: #fff;
      }
    }
  }
}
