@import "./animation";
@import "./overlay";
@import "./toast";
@import "./loading";

:root {
  --mx-main-color: #{$color};
  --mx-success-color: #{$success-color};
  --mx-danger-color: #{$danger-color};
  --mx-font-size: #{$base-font-size};
}

$prefix: mx;
.#{$prefix}--hide {
  animation: #{$prefix}-fade-out 0.2s forwards ease-in !important;
  .#{$prefix} {
    animation: #{$prefix}-slide-up 0.2s;
  }
}

.#{$prefix} {
  background-color: #fff;
  width: 30rem;
  display: inline-flex;
  border-radius: $radius;
  text-align: left;
  padding: 1rem;
  vertical-align: middle;
  animation: #{$prefix}-slide-down 0.1s forwards ease-out;
  position: relative;
  flex-direction: column;
  margin: 20px 0;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  overflow: hidden;
  @at-root &__body {
    flex-grow: 1;
  }
  @at-root &__content {
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
  }
  @at-root &__content-icon {
    width: auto;
    margin-right: 1rem;
    color: var(--mx-main-color);
    + .mx_content-raw {
      padding-top: 12px;
    }
  }
  @at-root &__content-raw {
    flex: 1;
  }
  @at-root &__title {
    color: #888;
  }
  @at-root &__footer {
    padding: 0.5rem 0;
    padding-bottom: 0;
    text-align: right;
  }
  @at-root &__footer--block {
    display: flex;
    margin: -1rem;
    margin-top: 0;
    padding: 0;
    position: relative;

    .mx__btn {
      flex: 1;
      text-align: center;
      justify-content: center;
      margin: 0;
      border-radius: 0;
    }
  }

  @at-root &__prompt {
    width: 100%;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  @at-root &__input {
    display: block;
    width: 100%;
    padding: 0 0.5em;
    box-sizing: border-box;
    transition: all 0.2s;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    border-radius: 2px;
    resize: vertical;
    padding: 0.5rem;
    border: none;
    background: darken(white, 2);
    &--multi {
      font-size: 1rem;
      font-weight: normal;
      padding: 5px 10px;
      min-height: 50px;
    }
  }
  @at-root &__btn {
    background-color: #fff;
    outline: none;
    border: none;
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: 5px;
    transition: background 0.2s;
    border-radius: $radius;
    vertical-align: middle;
    line-height: 100%;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
    &::after {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: #000;
      opacity: 0;
      transition: opacity 0.2s;
      content: "";
    }
    &:hover {
      &::after {
        opacity: 0.05;
      }
    }
    &:active {
      &::after {
        opacity: 0.1;
      }
    }
    * {
      pointer-events: none;
    }
    .mx-loading {
      margin-right: 5px;
      width: 0.8rem;
      height: 0.8rem;
      border-width: 1px;
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }

    &--ok,
    &--danger {
      background-color: var(--mx-main-color);
      color: #fff;
    }
    &--danger {
      background-color: var(--mx-danger-color);
    }
  }
}
