@import "./animation";
@import "./overlay";
@import "./toast";
@import "./loading";
@import "./vars";

$prefix: mx;

.#{$prefix}--hide {
  animation: #{$prefix}-fade-out 0.2s forwards ease-in !important;
  .#{$prefix} {
    animation: #{$prefix}-slide-up 0.2s;
  }
}

.#{$prefix} {
  background-color: #fff;
  width: 400px;
  display: inline-flex;
  border-radius: 5px;
  text-align: left;
  padding: 1rem;
  vertical-align: middle;
  animation: #{$prefix}-slide-down 0.1s forwards ease-out;
  position: relative;
  flex-direction: column;
  margin: 20px 0;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.1);
  border: solid 1px darken($color: #fff, $amount: 10);
  transform: translateZ(0);
  @at-root &__body {
    flex-grow: 1;
  }
  @at-root &__content {
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
  }
  @at-root &__content-icon {
    width: auto;
    margin-right: 1rem;
    color: $color;
    + .mx_content-raw {
      padding-top: 12px;
    }
  }
  @at-root &__content-raw {
    flex: 1;
  }
  @at-root &__title {
    padding: 0.5rem 0;
    padding-top: 0;
    color: #888;
    // border-bottom: solid 0.01rem darken($color: #fff, $amount: 5);
  }
  @at-root &__footer {
    // border-top: solid .01rem darken($color: #fff, $amount: 5);
    padding: 0.5rem 0;
    padding-bottom: 0;
    text-align: right;
  }

  @at-root &__prompt {
    width: 100%;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  @at-root &__input {
    display: block;
    width: 100%;
    padding: 0 0.5em;
    box-sizing: border-box;
    transition: all 0.2s;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    border-radius: 2px;
    resize: vertical;
    padding: 0.5rem;
    border: none;
    background: darken(white, 2);
    &--multi {
      font-size: 1rem;
      font-weight: normal;
      padding: 5px 10px;
      min-height: 50px;
    }
  }
  @at-root &__btn {
    background-color: #fff;
    outline: none;
    border: none;
    padding: 0.8rem 1.6rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    outline: none;
    margin-left: 5px;
    transition: background 0.2s;
    border-radius: 5px;
    vertical-align: middle;
    line-height: 100%;
    font-size: 1rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*点击高亮的颜色*/
    * {
      pointer-events: none;
    }
    .mx-loading {
      margin-right: 5px;
      width: 0.8rem;
      height: 0.8rem;
      border-color: darken(#fff, 2);
      span::after {
        border-color: inherit;
        border-width: 1px;
      }
    }
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
    &--cancel {
      &:hover {
        background-color: darken(#fff, 5);
      }
      &:active {
        background-color: darken(#fff, 10);
      }
    }
    &--ok,
    &--danger {
      background-color: $color;
      color: #fff;
      .mx__loading {
        border-color: #fff;
      }
      &:hover {
        background-color: darken($color, 5);
      }
      &:active {
        background-color: darken($color, 10);
      }
    }
    &--danger {
      background-color: $danger-color;
      &:hover {
        background-color: darken($danger-color, 5);
      }
      &:active {
        background-color: darken($danger-color, 10);
      }
    }
  }
}
